<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-umeng" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>umeng</name><js-module name="umeng" src="www/umeng.js"><clobbers target="cordova.plugins.umeng" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="umeng"><param name="ios-package" value="umeng" /></feature></config-file><source-file src="src/ios/umeng.m" /></platform></plugin>